---
const { name, desc, price, list, highlight } = Astro.props as {
  name: string;
  desc: string;
  price: string;
  highlight: boolean;
  list: string[];
};
---

<div
  class=`min-w-[300px] min-h-full p-6 rounded-2xl flex flex-col gap-4 ${highlight
  ? "border-t-8 border-t-blue-600 scale-110 bg-white"
  : "bg-gray-100"}`
>
  <div>
    <p class="text-xl font-semibold text-blue-800">{name}</p>
    <p class="text-sm text-gray-600">{desc}</p>
  </div>

  <div class="flex items-end space-x-1">
    <span class="text-3xl font-bold text-blue-800">{price}€</span>
    <span class="text-sm text-gray-600">/month</span>
  </div>

  <button
    class="bg-blue-600 hover:bg-blue-500 text-white text-sm px-4 py-2 rounded-xl transition cursor-pointer"
  >
    Get {name}
  </button>

  <div class="mt-2">
    <p class="text-sm font-bold text-gray-800 mb-2">Features</p>
    <ul class="flex flex-col gap-2 text-sm text-gray-600">
      {
        list.map((li) => (
          <li class="flex items-center gap-2">
            <span class="text-blue-600">✓</span>
            <span>{li}</span>
          </li>
        ))
      }
    </ul>
  </div>
</div>
